#jubatron {
  background-color: red;
  padding: 10px 0;
}

#jubatron-title {
  text-align: center;
  font-size: 30px;
  color: azure;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img {
  width: 65%;
}

main {
  padding-left: 5%;
  padding-right: 5%;
}

section {
  display: flex;
  align-content: space-between;
  margin: 30px 0px 30px 0px;
}

hr {
  border:none;
  height: 20px;
 	width: 90%;
	height: 50px;
  margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -45px auto 5px; 
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}