* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#jubatron {
  background-color: #071a75;
  padding: 20px 0;
  letter-spacing: 3px;
  height: 80px;
}

#jubatron-title {
  text-align: center;
  font-size: 30px;
  color: white;
}

nav {
  font-size: larger;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 3px;
  padding-right: 60px;
  background-color: rgb(146, 7, 7);
}
nav div {
  padding: 10px 5px;
}
nav div a {
  margin-left: 100px; 
  text-decoration: none;
}
nav div a:hover   {
  color: white;
}
nav div a:link {
  color: white;
}
nav div a:visited {
  color: white;
}
nav div a:active {
  color: white;
}


main {
  margin: 0% 20%;
  padding-bottom: 1%;
  background-color: #eef;
}

.section-card {
  text-align-last: right;
}

.card {
  padding: 20px;
  /* Add shadows to create the "card" effect */
  margin-left: 100px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  color: #071a75;
  letter-spacing: 3px;
  text-align: center;
  font-size: 25px;
  width: 80%;
  border-radius: 5px;
  background-color: #fff;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.footer-container {
  padding: 2px 16px;
}

img {
  width: 65%;
}

#heading {
  padding: 30px;
  letter-spacing: 2px;
}

#heading-title {
  padding-left: 140px;
  font-style: italic;
  text-align: left;
  font-size: 30px;
  color: #000;
}

#heading-brief {
  padding-left: 120px;
  font-style: italic;
  text-align: left;
  font-size: 20px;
  color: #888c;
}

footer {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

iframe {
  width: inherit;
}

.footer-card {
  color: #071a75;
  text-align: center;
  font-size: 25px;
  margin: 30px;
  border: 0.5px solid  red;
  padding: 50PX;
}
