* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#jubatron {
  background-color: #1b2869;
  padding: 2em 0;
  letter-spacing: 0.6em;
  height: 8em;
}

#jubatron-title {
  text-align: center;
  font-size: 1.3em;
  color: white;
}

nav {
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  background-color: rgb(146, 7, 7);
  padding: 0.7em 0.24em;
}
nav div {
  padding: 0.7em 0.24em;
}
nav div a {
  text-decoration: none;
}
nav div a:hover   {
  color: white;
}
nav div a:link {
  color: white;
}
nav div a:visited {
  color: white;
}
nav div a:active {
  color: white;
}
