main {
  margin: 0% 5%;
  padding-bottom: 1%;
  background-color: #eef;
}

.section-card {
  padding-left: 3%;  
  padding-right: 3%;  

  display: flex;
  justify-content: space-evenly;
}

.card {
  padding-left: 10%;  
  padding-right: 10%;  

  padding-top: 3em;
  margin-left: 1em;
  margin-bottom: 3em;
  box-shadow: 0 4px 8px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  color: #071a75;
  letter-spacing: 0.2em;
  text-align: center;
  width: 70em;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
}

.card-title {
  font-size: 1.5em;
  margin-top: 1em;
}
.card-brief {
  font-size: 1.1em;
}


#card-script-title {
  font-size: 1.5em;
  margin: 1em .5em 2em .5em;
  text-align: left;
}

#card-script {
  padding: 2em 10em 2em 0.1em;
  color: #555;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


#main-heading {
  padding: 2.6em;
  letter-spacing: 0.4em;
}

#main-heading-title {
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 0.3em;
  font-style: italic;
  text-align: left;
  font-size: 2em;
  color: #000;
}

#heading-brief {
  padding-left: 50em;
  font-style: italic;
  text-align: left;
  font-size: 12em;
  color: #888c;
}
audio  {
  margin-top: 1em; 
  width: 60%;
}

.youtube  {
  width: 60% !important;
  height: 60% !important;
}
